div.nav-mobile.am-navbar.am-navbar-dark {
  background-color: #3fb0ac;
  color: #fff;
  position: relative;
}
.mobile-drawer {
  position: absolute;
  top: 45px !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mobile-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mobile-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
/* .am-drawer-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10%;
}
.am-drawer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10%;
} */