.ant-card {
    display: inline-block;
}

.ant-card-head {
    height: 0px;
    min-height: unset;
}

.ant-card-body {
    position: relative;
}

.event-panel {
    box-shadow: 0px 0px 10px grey;
    margin: 1rem 1rem;
}

.event-card-img {
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 100%;
}