/* Event Image */
.ant-avatar > img {
    object-fit: cover;
    object-position: center;
}
/* =================================== */

/* Event Creator and Date Created */
.ant-comment {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ant-comment-inner {
    padding: 0;
}

.ant-comment-content-author {
    margin-bottom: 0.1rem;
}
/* =================================== */

/* Event Title */
.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/* =================================== */

/* Description Icons */
.card-icon {
    color: #FF4400;
    margin-right: 5rem;
}
.icon-data {
    color: #000;
    margin-left: 1vw;
}
/* =================================== */

/* Save Event Button */
#save-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* =================================== */


/* Upvote / Downvote */
.vote-icon:hover {
    color: #FF4400;
    transform: scale(1.1);
}
/* =================================== */