.ant-comment {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ant-comment-inner {
    padding: 0;
}

.ant-comment-content-author {
    margin-bottom: 0;
}

.card-icons {
    position: absolute;
    bottom: 0;
    left: 14vw;
    width: 100%;
}

.card-icon {
    margin-right: 5rem;
}

#save-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.icon-data {
    margin-left: 1vw;

}