.ant-avatar > img {
    object-fit: cover;
    object-position: center;
}

.ant-comment {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ant-comment-inner {
    padding: 0;
}

.ant-comment-content-author {
    margin-bottom: 0.1rem;
}

.card-title {
    margin-bottom: 1rem;
}

.card-icon {
    margin-right: 5rem;
}

#save-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.icon-data {
    margin-left: 1vw;
}