div.am-navbar.nav-web {
    background-color: #3fb0ac;
    margin: 0px;
    min-height: 70px;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #fff;
    font-size: calc(16px + 14 * (100vw - 320px)/ 800);
    padding-left: calc(0.5rem + 10px)
}

#search-bar {
    background-color: rgb(246, 247, 248);
    box-shadow: none;
    color: rgb(28, 28, 28);
    display: block;
    height: 36px;
    width: 35vw;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 239, 241);
    border-image: initial;
    outline: none;
    padding: 0px 16px 0px 40px;
    position: relative;
}

.ant-form-inline div.ant-form-item {
    margin-right: 0px;
}

#search-button {
    fill: rgb(135, 138, 140);
    font-size: calc(6px + 8 * (100vw - 320px)/ 800);
    position: absolute;
    top: 25%;
    left: 0.7vw;
}

#search-button:hover {
    cursor: pointer;
}

.am-navbar-right .item {
    color: #fff;
    font-size: calc(3px + 14 * (100vw - 320px)/ 800);
    margin-right: 20px;
    padding: 7.5px;
    text-decoration: none;
}

.item.active {
    background-color: #9bdcd8;
    border-radius: 10px;
}

a.item:hover, .nav-link:hover {
    color: #fff;
    transform: scale(1.1);
    text-decoration: none;
}

svg {
    vertical-align: unset;
}