.content-body {
    width: 70%;
    margin-top: 0px;
}

.ui.card>.content {
    padding: 0px;
}

.ui.card>.content>.header:not(.ui) {
    margin-top: 0px;
}

.ui.card>.content>.description {
    display: inline-block;
}

.ui.grid {
    margin: 0px;
}

.ui.grid>.row.padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-body i.icon {
    margin: 0px;
}

.icon-description {
    display: inline-block;
    font-size: calc(10px + 2 * (100vw - 320px)/ 800);
    padding-left: 10px;
}


/* .content-body i.icon.caret {
    font-size: 30px;
    margin: 0px;
    height: auto;
} */

/* .content-body i.icon.info-icon {
    font-size: 22px;
} */